mixin textInput(placeholder)
	input.input-text(type='text', placeholder=placeholder)

mixin dropdown(count)
	.dropdown
		.dropdown--wrapper
			.dropdown--dropdown-result Cколько гостей
			.dropdown--dropdown-arrow 
				i.material-icons expand_more
		.dropdown--dropdown-items
			- for (var i=1; i<=count;i++)
				.dropdown--dropdown-item
					.dropdown-item-name #{arguments[i]}
					.dropdown-count
						.dropdown-count-minus 
							span -
						.dropdown-count-result 0
						.dropdown-count-plus 
							span +
			.confirm
				.confirm-link применить
			.clear
				.clear-link очистить

mixin maskedText()
	input.input-text.input-masked(type='text', placeholder='ДД.ММ.ГГГГ')
mixin date()
	.date-dropdown
		.date-dropdown--wrapper
			.date-dropdown--dropdown-result ДД.ММ.ГГГГ
			.date-dropdown--dropdown-arrow 
				i.material-icons expand_more
mixin dateFilter()
	.date-filter-dropdown
		.date-filter-dropdown--wrapper
			.date-filter-dropdown--dropdown-result ДД.ММ.ГГГГ
			.date-filter-dropdown--dropdown-arrow 
				i.material-icons expand_more	
mixin subscrTextField(placeholder)
	.subscribe-field
		input.subscribe-field--input(type='text', placeholder=placeholder)
		.subscribe-field--arrow 
			i.material-icons arrow_forward
mixin checkboxList(arr, name)
	.checkbox-list
		.checkbox-list--wrapper
			.checkbox-list--description
				p expandable checkbox list
			.checkbox-list--arrow
				i.material-icons expand_more
		.checkbox-list--list
			each el in arr
				.checkbox-list--list-item
					input(type="checkbox", id=el.name, value=el.val, name=name, style="display:none;")
					label.list-item-chek(for=el.name)
						svg.list-item-chek--checked(width="10", height="10", viewBox="0 0 10 10", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M1.46439 4.29245L5.70703 8.53509L4.29282 9.9493L0.0501771 5.70666L1.46439 4.29245Z", fill="url(#paint0_linear)")
							path(d="M8.53546 2.87823L9.94967 4.29245L4.29282 9.9493L2.8786 8.53509L8.53546 2.87823Z", fill="url(#paint1_linear)" )
							defs
								linearGradient(id="paint0_linear", x1="7.82835", y1="2.17112", x2="2.1715", y2="7.82798", gradientUnits="userSpaceOnUse")
									stop(stop-color="#BC9CFF")
									stop(offset="1", stop-color="#8BA4F9")
								linearGradient(id="paint1_linear", x1="7.82835", y1="2.17112", x2="2.1715", y2="7.82798", gradientUnits="userSpaceOnUse")
									stop(stop-color="#BC9CFF")
									stop(offset="1", stop-color="#8BA4F9")
					.list-item-description
						p #{el.val}
mixin checkBoxBtns(arr, name)
	.checkbox-btns
		.checkbox-btns--wrapper
			.checkbox-btns--description
				p checkbox buttons
		.checkbox-btns--list
			each el in arr
				.checkbox-btns--list-item
					input(type="checkbox", id=el.name, value=el.val, name=name, style="display:none;")
					label.checkbox-btns-item-chek(for=el.name)
						svg.checkbox-btns-item-chek--checked(width="10", height="11", viewBox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z", fill="url(#paint0_linear)")
							path(d="M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z", fill="url(#paint1_linear)")
							defs
								linearGradient(id="paint0_linear", x1="7.82835", y1="2.28636", x2="2.1715", y2="7.94321", gradientUnits="userSpaceOnUse")
									stop(stop-color="#BC9CFF")
									stop(offset="1", stop-color="#8BA4F9")
								linearGradient(id="paint1_linear", x1="7.82835", y1="2.28636", x2="2.1715", y2="7.94321", gradientUnits="userSpaceOnUse")
									stop(stop-color="#BC9CFF")
									stop(offset="1", stop-color="#8BA4F9")
					.checkbox-btns-item-description
						p #{el.val}	
mixin radioBtns(arr, name)
	.radio-btns
		.radio-btns--wrapper
			.radio-btns--description
				p radio buttons
		.radio-btns--list
			each el in arr
				.radio-btns--list-item
					input(type="radio", id=el.name, value=el.val, name=name)
					label.radio-btns-item-chek(for=el.name)
						svg.radio-btns-item-chek--checked(width="12", height="12", viewBox="0 0 12 12", fill="none" xmlns="http://www.w3.org/2000/svg")
							rect(width="12", height="12", rx="6", fill="url(#paint0_linear)")
							defs
								linearGradient(id="paint0_linear", x1="6", y1="0", x2="6", y2="12", gradientUnits="userSpaceOnUse")
									stop(stop-color="#BC9CFF")
									stop(offset="1" stop-color="#8BA4F9")
					.radio-btns-item-description
						p #{el.val}	